﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app">
        <el-row>
            <el-col :span="24">
                <div class="grid-content">
                    <h1>FORMULARIO DE PAGO</h1>
                    <br>
                    <el-input placeholder="Nombre"></el-input>
                    <br>
                    <br>
                    <el-input placeholder="Apellido"></el-input>
                    <br />
                    <br />
                    <el-input placeholder="Correo Electrónico"></el-input>
                    <br />
                    <br />
                    <span>Género:</span>
                    <el-radio v-model="Sexo" label="F">F</el-radio>
                    <el-radio v-model="Sexo" label="M">M</el-radio>
                    <br />
                    <br />
                    <el-input placeholder="Número de Tarjeta"></el-input>
                    <br>
                    <br>
                    <div class="block">
                        <span class="demonstration">Fecha de Vencimiento</span>
                        <el-date-picker v-model="value1"
                                        type="date"
                                        placeholder="Elige Fecha">
                        </el-date-picker>
                        <br />
                        <br />
                    </div>
                    <el-select v-model="value" placeholder="Método de Pago">
                        <el-option v-for="item in metodos"
                                   :key="item.value"
                                   :label="item.label"
                                   :value="item.value">
                        </el-option>
                    </el-select>
                    <el-button @click="visible = true">Pagar</el-button>
                    <el-dialog :visible.sync="visible" title="Listo!">
                        <p>Pago realizado con éxito.</p>
                    </el-dialog>
                </div>
            </el-col>
        </el-row>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {

                visible: false,
                genero: false,
                value: '',
                metodos: [{
                    value: 'Visa',
                    label: 'Visa'
                }, {
                    value: 'MasterCard',
                    label: 'MasterCard'
                }, {
                    value: 'American Express',
                    label: 'American Express'
                }, {
                    value: 'PayPal',
                    label: 'Paypal'
                }, {
                    value: 'Tarjeta de Débito',
                    label: 'Tarjeta de Débito'
                }],
            }


        }
    })
</script>

</html>