﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app">
        <el-row>
            <el-col :span="24">
                <div class="grid-content">
                    <h1>FORMULARIO DE PROVEEDOR</h1>
                    <br>
                    <el-input placeholder="Nombre"></el-input>
                    <br>
                    <br>
                    <el-input placeholder="Capital"></el-input>
                    <br />
                    <br />
                    <span>Tipo de Empresa:</span>
                    <el-radio v-model="empresa" label="P">Pública</el-radio>
                    <el-radio v-model="empresa" label="P">Privada</el-radio>
                    <br />
                    <br />
                    <el-input placeholder="Ubicación"></el-input>
                    <br>
                    <br>
                </div>
                <div class="block">
                    <span class="demonstration">Fecha y Hora de Entrega</span>
                    <el-date-picker v-model="value2"
                                    type="datetime"
                                    placeholder="Fecha y Hora"
                                    :picker-options="pickerOptions1">
                    </el-date-picker>
                </div>
                <br />
                <br />
                <el-select v-model="value" placeholder="Productos">
                    <el-option v-for="item in productos"
                               :key="item.value"
                               :label="item.label"
                               :value="item.value">
                    </el-option>
                </el-select>
                <br>
                <br>
                <el-button @click="visible = true">Finalizar</el-button>
                <el-dialog :visible.sync="visible" title="Listo!">
                    <p>Formulario Completado</p>
                </el-dialog>
                <a href="pago.html">CONTINUAR</a>
</div>
            </el-col>
        </el-row>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                genero: false,
                value: '',
                productos: [{
                    value: 'Alimentos',
                    label: 'Alimentos'
                }, {
                    value: 'Electrónica',
                    label: 'Electrónica'
                }, {
                    value: 'Hogar',
                    label: 'Hogar'
                }, {
                    value: 'Cosméticos',
                    label: 'Cosméticos'
                }, {
                    value: 'Higiene Personal',
                    label: 'Higiene Personal'
                }],
            }


        }
    })
</script>
</html>